<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">
    <insert id="insertBoard">
        insert into Items (sellerName, itemName, price, condi, content, howToSell, phone)
        values(#{sellerName}, #{itemName}, #{price}, #{condi}, #{content}, #{howToSell}, #{phone})
    </insert>
    <update id="updateBoard">
        update Items
        set sellerName=#{sellerName}, itemName=#{itemName}, price=#{price}, condi=#{condi}, content=#{content}, howToSell=#{howToSell}, phone=#{phone}
        where itemID=#{itemID}
    </update>
    <delete id="deleteBoard">
        delete from Items where itemID=#{itemID}
    </delete>
    <select id="getBoard" resultType="board">
        select * from Items where itemID=#{itemID}
    </select>
    <select id="getBoardList" resultType="board">
        select * from Items order by itemID desc
    </select>
</mapper>